@media all and (min-width: 320px) and (max-width: 599px){
    .page-Welcome {
        background: green;
        height: 100%;
        min-height: 100vh;
        width: 100%;
}
}

@media all and (min-width: 600px) and (max-width: 1024px){
    .page-Welcome {
        background: red;
        height: 100%;
        min-height: 100vh;
        width: 100%;}
}

@media all and (min-width: 1025px) {
    .page-Welcome {
        background: black;
        height: 100%;
        min-height: 100vh;
        width: 100%;
    }
}