.bloc-target{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0px 10px 0 10px; 
 }
 
.titre-proie{
font-size: 30px;
font-weight: bolder;
color:white;
padding:0px;
}

 .image-target{
     width: 5%;
     min-width: 60px;
     filter: invert(100%); 
     /* A changer si on veut le cible noir */
 }