.page-poucavius{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1f3b47;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #3a606d, #1f3b47);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #3a606d, #1f3b47); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    height: 100%;
    min-height: 100vh;
    width: 100%;
}



.txt-intro{
    
    color:white;
}

.poucav-btn{
    height:35px;
    width: 90%;
    border-radius: 15px;
    box-shadow: 2px 2px 1px 2px black;
    text-transform:uppercase;
    color:white;
    font-size: 18px;
    font-weight: bold ;
    background: #2C5364;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #3a606d, #2C5364);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #3a606d, #2C5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    display: flex;
    align-items: center;
    justify-content: center;
    margin:10px
}
.poucav-btn:active{
    box-shadow: inset 2px 2px 2px 2px black;
}
.input-name{
    height: fit-content;
    width: 80%;
    border: 2px solid #467081;
    background-color: rgb(246, 245, 245);
    margin: 2px 0;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    text-transform:uppercase;
}
.filter-selection{
    display: none;
    height: -moz-fit-content;
    height: fit-content;
    width: 90%;
    border: 2px solid black;
    background-color: gainsboro;
    margin: 2px 0;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titres-filtrage{
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.resultats-filtrage{
    padding: 5px 0;
    text-align: center;
    width: 80%;
    border-radius: 15px;
    margin: 0 0 10px 0;

}

.bloc-list-cible{
    height: 100%;
    /* min-height: 100vh; */
    background: rgb(255, 255, 255, 0.9);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 22px 0;
    margin: 20px 0;
}

.list-proies{
    height:35px;
    width: 90%;
    /* border: 2px solid black; */
    border-radius: 15px;
    box-shadow: 2px 2px 1px 2px black;
    text-transform:uppercase;
    color:white;
    font-size: 18px;
    font-weight: bold ;
    background: #cb2d3e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    justify-content: center;
}